@charset "UTF-8";

body {
	margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

/* 基本 */
.orange * {
	margin: 0;
}
.orange img	{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
.orange-sub img {
	max-width: 120px;
}
