@charset "UTF-8";

/* デバッグ用 */
/* 
.post-head > * {
	border: solid 1px #999
}
*/

body {
	margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

/* 基本 */
.post * {
	margin: 0;
}
.post img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
.post-series img {
	max-width: 30px;
}
.shop img {
	max-width: 100px;
}

/* グリッド */
.post {
	--side: 20px;
	display: grid;
	/* grid-template-columns: 20px 1fr 50px 1fr 20px; */
	grid-template-columns: var(--side) 1fr 50px 1fr var(--side);
	grid-template-rows: auto 30px auto 40px auto 30px auto;
}

/* ヘッダー */
.post-head {
	grid-column: 2 / -2;
	grid-row: 1;

	/* ヘッダーのグリッド */
	display: grid;  
	grid-template-columns: 75px 1fr 140px;
	grid-template-rows: 45px repeat(3, auto);
	grid-column-gap: 24px;
	grid-row-gap: 12px;
}

/* ヘッダー：タイトル */
.post-title {
	grid-column: 2;
	grid-row: 3;
	font-family: 'MPLUS 1p', sans-serif;
	font-size: 35px;
	font-weight: 900;
	line-height: 1.2;
}

/* ヘッダー：リード文 */
.post-lead {
	grid-column: 2;
	grid-row: 4;
	font-size: 13px;
	line-height: 1.8;
}

/* ヘッダー：シリーズ名 */
.post-series {
	grid-column: 1;
	grid-row: 1 / 4;
	margin-bottom: -12px;
	background-color: #222;
	color: #fff;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	text-align: center;
	display: grid;
	justify-items: center;
	align-items: center;
	align-content: center;
	grid-row-gap: 8px;
}

/* ヘッダー：日付 */
.post-date{
	grid-column: 3;
	grid-row: 1;
	align-self: end;
	padding: 3px 0;
	background-color: #222;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	text-align: center;
}

/* ヘッダー： メニューの基本設定 */
.post-head ol,
.post-head ul {
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	margin: 0;
	padding: 0;
	list-style: none;
}

.post-head a {
	color: #000;
	text-decoration: none;
}

/* ヘッダー：パンくずリスト */
.post-bread {
	grid-column: 2;
	grid-row: 1;
	align-self: end;
	font-size: 10px;
	line-height: 2;
}

.post-bread li:not(:last-child)::after {
	margin: 0 5px;
	content: '>';
	color: #aaa;
}

/* ヘッダー：カテゴリー */
.post-category {
	grid-column: 2;
	grid-row: 2;
}

.post-category ul {
	grid-column-gap: 5px;
}

.post-category a {
	display: block;
	padding: 3px 10px;
	border-radius: 5px;
	background-color: #ccc;
	font-size: 10px;
}

/* ヘッダー：SNSメニュー */
.post-sns {
	grid-column: 3;
	grid-row: 3;
}

.post-sns ul {
	justify-content: space-between;
}
.post-sns a {
	font-size: 14px;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	display: block;
	width: 40px;
	line-height: 35px;
}
.post-sns li:nth-child(1) a {
	background-color: #55acee;
}
.post-sns li:nth-child(2) a {
	background-color: #3b5998;
}
.post-sns li:nth-child(3) a {
	background-color: #dd4b39;
}

/* ヘッダー：区切り線 */
.post-head:before {
	grid-column: 1 / -1;
	grid-row: 1;
	align-self: end;
	content: '';
	border-top: solid 4px #222;
	height: 2px;
	border-bottom: solid 2px #222;
	/* margin: 0 -20px; */
	margin: 0 calc(var(--side) * -1) -4px;
}

/* ヘッダー：装飾画像 */
.post-head:after{
	grid-column: 3;
	grid-row: 4;
	justify-self: center;
	align-self: center;
	width: 80%;
	content: url('img/gourmet.svg');
}

/* セクション01 */
.sec01 {
	grid-column: 2 / -2;
	grid-row: 3;
}

/* セクション02 */
.sec02 {
	grid-column: 2;
	grid-row: 5;
}

/* セクション03 */
.sec03 {
	grid-column: 4;
	grid-row: 5;
}

/* フッター */
.post-foot {
	grid-column: 1 / -1;
	grid-row: -2;
}
