@charset "UTF-8";

body {
	margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

/* 基本 */
.post * {
	margin: 0;
}
.post img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
.post-series img {
	max-width: 30px;
}
.shop img {
	max-width: 100px;
}

/* グリッド */
.post {
	display: grid;
	grid-template-columns: 20px 1fr 50px 1fr 20px;
	grid-template-rows: auto 30px auto 40px auto 30px auto;
}

/* ヘッダー */
.post-head {
	grid-column: 2 / -2;
	grid-row: 1;

	/* ヘッダーのグリッド */
	display: grid;  
	grid-template-columns: 75px 1fr 140px;
	grid-template-rows: 45px repeat(3, auto);
	grid-column-gap: 24px;
	grid-row-gap: 12px;
}

/* ヘッダー：タイトル */
.post-title {
	grid-column: 2;
	grid-row: 3;
}

/* ヘッダー：リード文 */
.post-lead {
	grid-column: 2;
	grid-row: 4;
}

/* ヘッダー：シリーズ名 */
.post-series {
	grid-column: 1;
	grid-row: 1 / 4;
}

/* ヘッダー：日付 */
.post-date {
	grid-column: 3;
	grid-row: 1;
}

/* ヘッダー：パンくずリスト */
.post-bread {
	grid-column: 2;
	grid-row: 1;
}

/* ヘッダー：カテゴリー */
.post-category {
	grid-column: 2;
	grid-row: 2;
}

/* ヘッダー：SNSメニュー */
.post-sns {
	grid-column: 3;
	grid-row: 3;
}

/* セクション01 */
.sec01 {
	grid-column: 2 / -2;
	grid-row: 3;
}

/* セクション02 */
.sec02 {
	grid-column: 2;
	grid-row: 5;
}

/* セクション03 */
.sec03 {
	grid-column: 4;
	grid-row: 5;
}

/* フッター */
.post-foot {
	grid-column: 1 / -1;
	grid-row: -2;
}
